doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        script(src='/javascripts/jquery.min.js')
        script(src='/javascripts/bootstrap.min.js')
    body
        div.container.text-center.col-lg-12
            h1= title
            .row
            div.col-lg-4.pull-left
                .row
                    .col-lg-6
                        form(action="/search",method="get")
                            .input-group
                                input.form-control(type='text',value="Enter one word to search.",id="searchTerm",name="searchTerm")
                                span.input-group-btn
                                    button.btn.btn-default(type='button,submit') Go!
            br
                                   
            div#theResults.col-lg-12.pull-left
                    
                block content

        
