extends index

block content
	br
	br
	table#table.table-hover.table-bordered
		thead
			tr
				th Document
				th Position of Word
				tbody
		each oneRes in jadeRes
			tr
				td #{oneRes.doc}
				td #{oneRes.positions} 
